@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Processo Seletivo Best Project</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <h2>Sistema de Cadastro Contato</h2>
    <p>Seja bem vindo ao projeto!</p>

    <a href="/Contato/Cadastro" class="btn btn-primary">
        Gerenciar Contato
    </a>


    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>